<ion-view title="Login" id="login">
    <ion-content padding="true" class="has-header">
        <h2>Login Page</h2>
        <form class="list" ng-submit="vm.submit()">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="" ng-model="vm.user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="vm.user.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <input type="submit" id="login-button2" class="button button-stable  button-block" value="Log In">
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button3" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>